<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>That's so gay </title>
    <link rel="stylesheet" href="/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">

    
  </head>
  <body>
	<section class="main">

		<section class="header">
			<h1> That's so gay!</h1>
			<h3> Why you shouldn't be using this and other microagressions toward the queer community</h3>
		</section>
    

    <section class="latest--entries">
      <ul class="microagressions--list">  <!-- create unordered list and assign a class to the list -->
                  <%  microagressionsList.forEach(details => {%>  <!-- Use ejs to start a forEach loop -->
                          <% if (details._id == idMicroagression) { %> <!-- use EJS, starting if statement, checking if id equals to the item we clicked on -->
                            <section class="form--wrapper">   <!-- creating a section -->
                                <h2>Edit List Item</h2>  <!-- add a h2 heading to the page -->
                              <li class='microagression--item'>  <!-- create a list item with a class of item -->
                              <form action="/edit/<%= details._id%>" method="POST">  <!-- creating a form and adding EJS to pull the specific element with that id. Adding a POST method -->
                                  <input type="text" name="title" value="<%=details.title %>">  <!-- using EJS to pull the input with a value of our elem -->
                                  <textarea rows="6" cols="45" name="content"><%=details.content%></textarea>
                                  <button type="submit" class="confirm">Confirm</button>
                                  <a href="/" class="cancel">Cancel</a>
                                  </form>
                              </li>
                            </section> <!-- either way, ALL of the items will get displayed, but if the id of the item matches the one that we selected, we will be able to edit it  -->
                              <% } else { %>  <!-- EJS for the else clause of our if statement. So, IF an selected item didn't have that id, then do this -->
                                  <li class="microagression--item"> <!-- inside of the else statement we again create li item  -->
                                  <div class="microagression--title">
                                      <%= details.title %>    <!-- to display the title of items that didn't match that id...  -->
                                  </div>
                                  <div class="microagression-content"> 
                                      <%= details.content %> <!-- and to display the title of our items  -->
                                      </div>
                                      <div class="buttons--edit"> 
                                  <a href="/edit/<%=details._id %>" class="edit"> EDIT</a> <!-- adding an EDIT button to display the button  -->
                                  <a href="/remove/<%=details._id %>" class="remove">REMOVE</a> <!-- adding an REMOVE button to display the button  -->
                                </div>
                                </li>
                              <% } %> <!-- EJS to close the else statement  -->
                          <% }) %> <!-- EJS to close forEach  -->

             </ul>
      </section>
  </section>
</body>
</html>