
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit List</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">

  </head>
  <body>
	<section class="main">
      <section class="header">
        <h1> That's so gay!</h1>
        <h3> Why you shouldn't be using this and other microagressions toward the queer community</h3>
      </section>
	   <section class="latest--entries">
	      <ul class="microagressions--list">
		                <%  microagressionsList.forEach(details => {%>
                            <% if (details._id == idMicroagression) { %>

                              <section class="form--wrapper"> 
                                  <h2>Edit List Item</h2>
                                <li class='microagression--item'>
                                <form action="/edit/<%= details._id%>" method="POST">
                                    <input type="text" name="title" value="<%=details.title %>">
                                    <textarea rows="6" cols="45" name="content"><%=details.content%></textarea>
                                    <button type="submit" class="confirm">Confirm</button>
                                    <a href="/" class="cancel">Cancel</a>
                                    </form>
                                </li>
                              </section>
                                <% } else { %>
                                    <li class="microagression--item">
                                    <div class="microagression--title">
                                        <%= details.title %>
                                    </div>
                                    <div class="microagression-content">
                                        <%= details.content %>
                                        </div>
                                        <div class="buttons--edit"> 
                                    <a href="/edit/<%=details._id %>" class="edit"> EDIT</a>
                                    <a href="/remove/<%=details._id %>" class="remove">REMOVE</a>
                                  </div>
                                  </li>
                                <% } %>
                            <% }) %>

						   </ul>
				
						
				</section>
		</section>
  </body>
</html>
