<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
  <link href="/output.css" rel="stylesheet">
<title>Examples</title>
</head>

<body>
  <%- include('header.ejs') %>

    <div class="bg-white py-12">
        <div class="mx-auto max-w-7xl px-8 sm:px-6 lg:px-8">
          <div class="lg:text-center px-12">
            <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl px-8"> What are microagressions? </p>
            <h2 class="text-lg font-semibold text-indigo-600 m-8">  The act of constantly and openly perpetuating stereotypes and putting someone down can reinforce barriers in one's life (including in the workplace, when accessing leadership roles, and others). These are comments and actions directed towards people based on their gender identity and/or sexual orientation. These comments usually come from the societal belief that straight, for example, is a sign of being “normal”.</h2>   
          </div>


          <div class=" mt-10">
            <dl class="space-y-10 md:grid md:gap-x-8 md:gap-y-10 md:space-y-0">
              <div class="relative max-w-md">
                <dt>
                
                        <% microagressionsList.forEach(details => {%>
                          <p class="ml-16 text-lg font-medium leading-6 text-gray-900 m-4"> <%= details.title %></p>
                          <dd class=" mt-2 ml-16 text-base text-gray-500"> <%= details.content %> </dd>   
              

                <div class="flex flex-row rounded-md shadow p-4">
                    <a href="/edit/<%=details._id %>" class="flex w-1/12 h-4 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-sm m-2 mt-0 mb-0">Edit</a>
                    <a href="/remove/<%=details._id %>" class="flex w-1/12 h-4 items-center justify-center rounded-md border border-transparent bg-indigo-100 px-8 py-3 text-base font-medium text-indigo-700 hover:bg-indigo-200 md:py-4 md:px-10 md:text-lg m-2 mt-0 mb-0">Remove</a> 
                 </div>
                </dt>
                 
                <% }) %>
              </div>
            </dl>  
         </div>
        </div>
      </div>

</body>
</html>