<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
  <link href="/output.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>

<title>Examples</title>
</head>

<body>
  <div class="bg-blue-500"> 
    <%- include('header.ejs') %>
  </div>
    
        <div class="bg-blue-500 py-12">
            <div class="mx-auto max-w-7xl px-8 sm:px-6 lg:px-8">
                 <div class="lg:text-center px-12  text-gray-900">
                     <h1 class="mt-2 text-5xl font-bold leading-8 tracking-tight sm:text-7xl px-8"> What are microagressions? </h1>
                     <p class="font-semibold text-4xl m-4 mt-16">  Microaggressions are the everyday slights, insults, put-downs, and invalidations that
                      queer communities experience in their day-to-day interactions. These subtle comments usually come from the societal belief that 
                      straight or cis is a sign of being “normal”.</p>  
                  </div>
              </div>
        </div>

        <svg class="flash-separator m-auto mt-4 " width="70px" height="110px" viewBox="0 0 70 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icon-flash" fill="#FFD202">
            <polygon id="flash-path" points="36.2194255 42.3495913 58.5871111 42.3495913 4.21798766 110 22.3676855 63.0627807 0 63.0627807 21.813225 0 69.8806908 0"></polygon>
            </g>
          </g>
        </svg>

        <section class="bg-white py-4 mx-auto max-w-7xl px-8 sm:px-6 lg:px-8"> 

          <p class="text-gray-900 text-2xl m-4 mt-8">Assuming someone's gender pronouns, not asking about their pronouns, and continuing to use the wrong pronouns after the correct
            ones have been shared is one very common example of microaggression that deny the personal experience, emotions, or thoughts of a
             person.  </p>

        </section>

      </div>

        <div class="grid grid-cols-1 gap-2 mx-auto py-8 max-w-7xl sm:grid-cols-2 px-8 sm:px-6 lg:px-8">
          <% microagressionsList.forEach(details => {%> 
          <div class="max-w-sm min-w-fit lg:max-w-full lg:flex rounded-tr-lg flip ">                   
            <div class= "flex flex-col bg-blue-500 rounded-b lg:rounded-b-none lg:rounded-r p-14 justify-between leading-normal flip-content">
              <div class="flip-front"> 
                  <ul>  
                      <li> 
                         <div class="text-gray-900 font-bold text-5xl my-10"> <a href="/examples/:id"> <%= details.title %> </a> </div>
                         <p class="text-gray-800 text-2xl mt-4"> <%= details.content %> </p>
                      </li>
                      <li> 
                          <p class="text-lg mt-6 text-gray-900"> Want to contribute?  <a href="/edit/<%=details._id %>" class=" text-black hover:text-blue-700 md:text-lg mb-0"> Suggest revision </a>  </p> 
                          <p class="text-lg mt-6 text-gray-900"> How to respond and how to avoid?  <a href="/edit/<%=details._id %>" class=" text-black hover:text-blue-700 md:text-lg mb-0">  </a>  </p> 

                        </li>
                   </ul> 
              </div>

                <div class="flip-back"> 
                  <h1 class="text-gray-900 font-bold text-4xl m-auto"> What to do to avoid causing a microaggression. </h1> 
                   <p class="text-gray-700 text-2xl mt-4"> When you meet someone new, your brain instinctively begins to categorize the person and notice differences. It’s when our brains get “stuck” in these differences that microaggressions happen. Here are some helpful tips to avoid getting stuck.</p> </strong>
                 </div>
            </div>
         </div>
         <% }) %>
        </div>
        
      </div>
         <div class="flex mt-3 sm:mt-6 sm:ml-6">
          <a href="/add" class=" mx-auto flex w-1/3 items-center justify-center rounded-md borderborder-transparent bg-rose-500 px-8 py-3 text-base font-medium text-white hover:bg-rose-600 md:py-4 md:px-10 md:text-lg">Contribute</a>
        </div>
   </div>

   
   
   <div class="flex-auto max-w-7xl justify-center mx-auto mt-20"> 
  <%- include('footer.ejs') %>

   </div>

</body>
</html>